.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}

.input {
  width: 50%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.input::placeholder {
  color: #ccc;
  font-size: 1.5rem;
}

.label {
  font-size: 1.2rem;
}

.logo-box {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.logo-box img {
  display: block;
  width: 10%;
}

.logo-box h1 {
  font-weight: 400;
  font-size: 3.5rem;
  color: var(--main-color);
}

.forget-password--link {
  text-decoration: none;
  color: #413d3d8e;
  font-size: 1rem;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .logo-box h1 {
    color: var(--light-color);
  }

  .label {
    color: var(--light-color);
    font-size: 1.3rem;
  }

  .forget-password--link {
    color: var(--light-color);
  }
}
