.money-card {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  row-gap: 3rem;
  padding: 1rem;
  transition: all 0.3s linear;
}

.money-card:hover {
  transform: scale(1.05);
  background-color: var(--main-color);
}

.money-card:hover * {
  color: var(--light-color);
}
