.landing-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  transition: all 0.2s;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.landing-card:hover {
  transform: scale(1.05);
}
