:root {
  --main-color: #e26473;
  --secondary-color: ;
  --light-color: #fffffff7;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vector-animation {
  animation: top-down 1.5s linear infinite;
  -webkit-animation: top-down 1.5s linear infinite;
}

@keyframes top-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 62.5%;
  }
}
